.warna{
    color:tomato;
    font-weight: bold;
    font-size: 50px;
}
.tes{
    width: 145px;
    padding: 5px;
    margin: 5px;
    background-color: #54f4ff;
    color: white;
    text-align: center;
    font-size: 20px;
}
.link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
